/* @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
;
/* font-family: 'Montserrat', sans-serif;
font-size: 1.1rem; */
/* =============
   Global styles
   ============= */

* {   
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   

/* =============
   Colour themes
   ============= */  
   

   /* Copper and black theme */
   --bg-primary: #000;   
   /* --bg-secondary: #006A94;     */
   --copper-cryola: #da8a68;   
}
            
body { 
   font-family: 'Montserrat', sans-serif;
   font-size: 1.1rem;  
   font-weight: 400, 700;       
}


/* @media (max-width: 576px) { */
   /* Global style - Mobile first design */

/* =============
   Typography
   ============= */ 

h1 {
   font-family: 'Dancing Script', cursive;
   font-weight: 400;
}

.banner h1 {
   font-size: 3.2rem;
   color: var(--copper-cryola);
   line-height: 1;
   z-index: 1;   
}


/* =============
   Layout
   ============= */

/* Navigation styles */

header {
   display: flex;
   align-items: center;
   background: var(--copper-cryola);   
   position: fixed;
   top: 0;
   height: 78px;
   width: 100vw;
   z-index: 999;
}

.logo {
   width: 50px;
   margin-left: 10px;
   /* padding: 25px; */
}

.nav-toggle {
   display: none;
}

.nav-toggle-label {
   background: var(--copper-cryola);
   border: 2px solid var(--bg-primary);
   position: absolute;
   top: 30%;
   right: 5%;   
   padding: 8px 5px;
   height: 30px;
   display: flex;
   align-items: center;
   cursor: pointer;
}

.nav-toggle-label span, 
.nav-toggle-label span::before,
.nav-toggle-label span::after {
   display: block;
   background: var(--bg-primary);
   height: 2px;
   width: 17px;
   border-radius: 2px;
   position: relative;
   
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
   content: '';
   position: absolute;
}

.nav-toggle-label span::before {
   bottom: 5px;
}

.nav-toggle-label span::after {
   top: 5px;
}

.desktop-nav {
   display: none;
}

.mobile-nav{
   background-color: var(--bg-primary);
   background-size: contain;
   position: absolute;
   text-align: center;
   font-size: 1rem;
   font-weight: 700;
   top: 100%;
   left: 0;   
   min-height: 100vh;
   width: 100%;
   transform: scale(1, 0);
   transform-origin: top;
   transition: transform 400ms ease-in-out;   
}

nav ul {  
   width: 95%; 
   margin: auto;   
   list-style: none;
}

nav ul li {      
   margin: 15px;
   padding: 15px;
   letter-spacing: 2px;    
}

nav ul li:hover {
   border: 2px solid var(--copper-cryola);
}

nav ul li:first-child {
   margin-top: 30px;
}


nav ul li a {
    /* This font-family might need changing */
   font-family: 'Dancing Script', cursive;   
   color: var(--copper-cryola);
   text-decoration: underline;
   font-size: 1.7rem;
   /* text-transform: uppercase; */
   opacity: 0;
   transition: opacity 150ms ease-in-out;
}

nav ul li a:hover {   
   cursor: pointer;       
}

.nav-toggle:checked ~ nav {
   transform: scale(1, 1);  
}

.nav-toggle:checked ~ nav a {
   opacity: 1;
   transition: opacity .3s ease-in-out .3s;
}

/* Landing page styling */

.banner-mobile {   
   position: relative;
   top: 78px;
   width: 100%;
}

.banner-desktop {
   display: none;
}

.banner {   
   background-image: url(./assets/Background-Photos/background-mobile.jpg);   
   background-size: cover;
   background-repeat: no-repeat; 
   background-position: center;     
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   position: relative;  
   padding: 95px 20px 80px 20px;
   text-align: center;
   height: 100vh;
   width: 100vw;  
   /* transform: scale(1.2);  */
}

.color-overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: .6;
   top: 0;
}

/* } */



/* =============
   Media Queries
   ============= */



/* Tablet design */

@media (min-width: 768px) and (max-width: 992px) {

/* =============
   Typography
   ============= */

.banner h1 {
   font-size: 5rem; 
   margin: 100px;     
} 

/* =============
   Layout
   ============= */  

/* Navbar styles */
nav ul li a {
   font-size: 2.5rem; 
}



/* Landing page styles */
.logo {
   width: 70px;
   margin-left: 40px;   
}


.banner {   
   background-image: url(./assets/Background-Photos/background-tablet2.jpg);   
   background-size: cover;
   background-repeat: no-repeat; 
   background-position: center;     
   position: relative;     
   height: 100vh;
   width: 100vw;     
}

.color-overlay { 
   opacity: .7;   
}


   






/* =============
   Components
   ============= */
    
}




/* Large screens = Laptops, Desktops */
@media (min-width: 993px) {

/* =============
   Typography
   ============= */




/* =============
   Layout
   ============= */

/* Navigation styles */

header {
   background-color: #fff; 
   display: flex;   
   position: relative;
   height: auto;
   z-index: 999;
   padding: 30px 100px; 
}

.nav-toggle,
.nav-toggle-label,
.nav-toggle-label span, 
.nav-toggle-label span::before,
.nav-toggle-label span::after {
   display: none;
}

.mobile-nav {
   display: none;
}

.desktop-nav {
   display: block;
      
}

.logo {
   margin-right: auto;
   padding: 0;
}

.desktop-nav ul {
   display: flex;
   margin-left: auto;
    
}

nav ul li {   
   margin: 0;
   padding: 0;
   letter-spacing: 1px;
   width: 150px;  
   text-align: center;
}

nav ul li:first-child {
   margin-top: auto;
}

nav ul li:hover {
   border: none;
}

nav ul li a {   
   color: var();   
   font-size: 0.8rem;
   text-transform: uppercase;
   opacity: 1;
   transition: opacity 150ms ease-in-out;
   padding: 10px 20px;
}

nav ul li a:hover {   
   cursor: pointer; 
   background-color: var();
   color: #fff;
}


}

/* Models page hero image top section responsive*/
.models-hero-container > img {
   width: 100%;
   height: auto;
}

.models-hero-h1 {
   color: var(--copper-cryola);
   font-family: 'Dancing Script', cursive;
   font-weight: 400;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.8);
}

.models-square-grid {
   width: 100%;
   height: 200px;
   background-color: var(--copper-cryola);
}

.models-square-item > p {
   flex: 1;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}

@media (max-width: 576px) {
   .models-hero-container {
      height: 400px;
      position: relative;
      top: 78px;
   }
}




/* Models page styling gris layout, responsive*/

/* this need to be fixed */
body {
   background-color: #000 !important;
}
/* fix code above */

.models-grid {
   display: grid;
   gap: 2rem;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}


.models-h1 {
   color: var(--copper-cryola);
   font-family: 'Dancing Script', cursive;
   font-weight: 400;
   text-align: center;
}


.models-cardwidth {
   width: 100%; 
   max-width: 600px;
}

.models-font {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.1rem;
}

.models-textcentered {
   text-align: center;
}

.models-cardcolor {
   background-color: var(--bg-primary);
   color: var(--copper-cryola);
}

.models-cardcolorinverted {
   background-color: var(--copper-cryola);
   color: #000;
}

.models-biggerfont {
   font-size: 1.5rem;
   font-weight: bold;
}

.models-btn:hover {
   color: #fff;
   text-decoration: none;
}

.models-btn:active {
   color: #fff;
   text-decoration: none;
}

.models-boxshadow {
   border: 1px solid black;
   -webkit-box-shadow: 10px 8px 29px -8px rgba(255,255,204,0.86); 
   box-shadow: 10px 8px 29px -8px rgba(255,255,204,0.86);
}