/* @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* =============
   Global styles
   ============= */

* {   
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   

/* =============
   Colour themes
   ============= */  
   

   /* Copper and black theme */
   --bg-primary: #000;   
   /* --bg-secondary: #006A94;     */
   --copper-cryola: #da8a68;   
}
            
body { 
   font-family: 'Karla', sans-serif; 
   font-size: 16px;  
   font-weight: 400, 700; 
/* Having  problems with body position. Doesn't respond well to top: 0 */
   position: relative;
   top: -40px;  
   background-color: #000;   
}


/* Global styles */

/* =============
   Typography
   ============= */ 

h2, h3 {
   font-family: 'Dancing Script', cursive;
   font-weight: 400;
   text-decoration: underline;
   font-size: 2rem;
   margin: 40px 0;
   color: var(--copper-cryola);
}

h3 {
   font-size: 1.8rem;
}

p {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.1rem;
   line-height: 1.5;
   color: var(--copper-cryola);
}

p.card--para {
   font-size: 1.1rem;
   margin: 20px 0;
}


/* =============
   Layout
   ============= */

/* Navigation styles */

header {
   display: flex;
   align-items: center;
   background: var(--copper-cryola);   
   position: fixed;
   top: 0;
   height: 78px;
   width: 100vw;
   z-index: 999;
}

.logo {
   width: 50px;
   margin-left: 10px;
   /* padding: 25px; */
}

.nav-toggle {
   display: none;
}

.nav-toggle-label {
   background: var(--copper-cryola);
   border: 2px solid var(--bg-primary);
   position: absolute;
   top: 30%;
   right: 5%;   
   padding: 8px 5px;
   height: 30px;
   display: flex;
   align-items: center;
   cursor: pointer;
}

.nav-toggle-label span, 
.nav-toggle-label span::before,
.nav-toggle-label span::after {
   display: block;
   background: var(--bg-primary);
   height: 2px;
   width: 17px;
   border-radius: 2px;
   position: relative;
   
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
   content: '';
   position: absolute;
}

.nav-toggle-label span::before {
   bottom: 5px;
}

.nav-toggle-label span::after {
   top: 5px;
}

.desktop-nav {
   display: none;
}

.mobile-nav{
   background-color: var(--bg-primary);
   background-size: contain;
   position: absolute;
   text-align: center;
   font-size: 1rem;
   font-weight: 700;
   top: 100%;
   left: 0;   
   min-height: 100vh;
   width: 100%;
   transform: scale(1, 0);
   transform-origin: top;
   transition: transform 400ms ease-in-out;   
}

nav ul {  
   width: 95%; 
   margin: auto;   
   list-style: none;
}

nav ul li {      
   margin: 15px;
   padding: 15px;
   letter-spacing: 2px;    
}

nav ul li:hover {
   border: 2px solid var(--copper-cryola);
}

nav ul li:first-child {
   margin-top: 30px;
}


nav ul li a {
    /* This font-family might need changing */
   font-family: 'Dancing Script', cursive;   
   color: var(--copper-cryola);
   text-decoration: underline;
   font-size: 1.7rem;
   /* text-transform: uppercase; */
   opacity: 0;
   transition: opacity 150ms ease-in-out;
}

nav ul li a:hover {   
   cursor: pointer;       
}

.nav-toggle:checked ~ nav {
   transform: scale(1, 1);  
}

.nav-toggle:checked ~ nav a {
   opacity: 1;
   transition: opacity .3s ease-in-out .3s;
}
/* End of navbar styling */


/* Intro section styling */

#technology--container{   
   position: relative;
   top: 78px;
   margin: 20px 30px;   
}

#intro--page{
   /* height: 100vh; */
   margin: 100px 0;
   text-align: center;
}

/* .color-overlay {
   position: absolute;
   width: 100vh;
   height: 100vw;
   background: #000;
   opacity: .6;
   top: 0;
} */

hr.line--break {   
   margin: 80px 0;
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--copper-cryola), rgba(0, 0, 0, 0));
}

/* First cars section */

#first--cars, 
#technological--improvements, 
#modern--cars {
   display: flex;
   flex-direction: column;
   margin: 40px 0;
   text-align: center;
}

.first--cars--description, 
.technological--description, 
.modern--cars--description {
   display: flex;
   flex-direction: column;
}

.cards {
   border: 1px solid var(--copper-cryola);
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
   border-radius: 5px;
   margin: 40px 0;
   z-index: 1;   
}

.cards img {
   border-radius: 30px;
   width: 258px;
   height: 230px;
}



/* =============
   Components
   ============= */

.card--button {
   background: var(--copper-cryola);
   color: #000;
   border: none;
   border-radius: 5px;
   position: relative;
   height: 40px;
   /* width: 150px; */
   font-size: 1rem;
   padding: 0 20px;
   cursor: pointer;
   outline: none;
   transition: 800ms ease all;   
   /* box-shadow: 0 5px 15px rgba(0,0,0,0.20);   */
}

.card--button:hover{
   background:#fff;
   color: var(--copper-cryola);
}

.card--button:before,
.card--button:after{
   content:'';
   position:absolute;
   top:0;
   right:0;
   height:2px;
   width:0;
   background: var(--copper-cryola);
   transition:400ms ease all;
}

.card--button:after{
   right:inherit; 
   top:inherit;
   left:0;
   bottom:0;
}

.card--button:hover:before,
.card--button:hover:after{
   width:75%;
   transition:800ms ease all;
}


/* =============
   Media Queries
   ============= */

/* Tablet design */

@media (min-width: 768px) and (max-width: 1199px) {

/* =============
   Typography
   ============= */

h2, h3 {
   font-size: 2.5rem;
} 

p {
   font-size: 1.2rem;
}

/* =============
   Layout
   ============= */   

/* Navbar styles */

.logo {
   width: 70px;
   margin-left: 40px;   
}

nav ul li a {
   font-size: 2.5rem; 
}

/* Landing page styles */
#intro--page {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0;
   /* margin-top: 150px; */
   height: 80vh;
   padding: 0 100px;
}

#first--cars, 
#technological--improvements, 
#modern--cars {
   padding: 0 100px;
}

.cards img {
   border-radius: 30px;
   width: auto;
   height: 400px;
}

}



/* Large screens = Laptops, Desktops */
@media (min-width: 1200px) {

/* =============
   Typography
   ============= */

h2, h3 {
   font-size: 3rem;
}

#intro--page h2, 
#intro--page p {
   color: var(--bg-primary);
   padding: 0 10%;   
}


/* =============
   Layout
   ============= */

/* Navigation styles */

header {
   background-color: var(--copper-cryola);    
   display: flex; 
   justify-content: space-between;  
   /* position: relative; */
   height: 78px;
   z-index: 999;
   padding: 30px; 
}

.nav-toggle,
.nav-toggle-label,
.nav-toggle-label span, 
.nav-toggle-label span::before,
.nav-toggle-label span::after {
   display: none;
}

.mobile-nav {
   display: none;
}

.desktop-nav {
   display: block;
      
}

.logo {
   margin-right: auto;
   padding: 0;
   width: 60px;
}

.desktop-nav ul {
   display: flex;
   /* margin-left: auto; */
    
}

nav ul li {      
   margin: 0;
   padding: 0;
   letter-spacing: 1px;
   width: 150px;  
   text-align: center;
}

nav ul li:first-child {
   margin-top: auto;
}

nav ul li:hover {
   border: none;
}

nav ul li a {   
   font-family: 'Montserrat', sans-serif;
   color: var(--bg-primary);   
   font-size: 0.8rem;
   font-style: oblique; 
   font-weight: 600;
   text-transform: uppercase;
   text-decoration: none;
   opacity: 1;
   transition: opacity 150ms ease-in-out;
   padding: 10px 20px;
}

nav ul li a:hover {   
   cursor: pointer; 
   background-color: var();
   color: #fff;
}


/* Technology intro page styling */

#intro--page {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0;
   /* margin-top: 150px; */
   height: 85vh;
   padding: 0 100px;
   background-image: url('./assets/Background-Photos/power-plant.jpg');
   background-size: cover;
   background-repeat: no-repeat; 
   background-position: center;
   /* background-blend-mode: screen; */
}

/* .color-overlay {
   position: absolute;
   width: 100vh;
   height: 100vw;
   background: #000;
   opacity: .6;
   top: 0;
} */

#first--cars, 
#technological--improvements, 
#modern--cars {
   padding: 0 100px;
   flex-direction: row;
   justify-content: space-between;
}

.first--cars--description, 
.technological--description, 
.modern--cars--description {
   display: flex;
   flex-direction: column;
}







}






/* footer */
.footer-ul {
   background-color: var(--copper-cryola);
   color: var(--bg-primary);
   text-align: center;
   list-style-type: none;
}

.footer-ul a {
   color: var(--bg-primary);
   text-decoration: underline;
}

.footer-ul a:hover {
   color: #fff;
   text-decoration: none;
}

.footer-ul a:active {
   color: #fff;
   text-decoration: none;
}

@media (min-width: 1199px) {
   footer {
      background-color: var(--copper-cryola);
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
   } 
}